

$font-family-sans-serif:  open-sans, sans-serif;
$font-family-serif: modesto-text, serif;

$headings-font-family:    $font-family-serif;
$headings-font-weight:    400;

$suit-red: #be1e2d;

$brand-primary: $suit-red;
$brand-secondary: #1e7ebe;
$brand-tertiary: #1ebe5e;

