/*
 * SASS main code for Pasadena Bridge Club w3css version
 */

@import "default-variables";

body {
  font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-serif;
  font-weight: $headings-font-weight;
  color: $brand-green-dark;
}

.site-slogan {
  text-transform: none;
  font-size: 1.8em !important;
  color: $brand-green-dark;
  margin-right: 100px;
  padding-left: 5px;
}

#header {
  background-color: white;
}

#block-welcometext-2 {
  padding: 5px;
  margin: 0;
  > div {
    border: $brand-blue-dark solid 3px;
    padding: 5px;
    background-color: $brand-blue-light;
    > p {
      padding-left: 3em;
    }
  }
}

.main-navigation-wrapper, .close-nav, .mobile-nav {
  background-color: $brand-blue-dark;
}

#footer-menu {
  background-color: $brand-blue-dark;
}

.copyright-inner, .ul-parent-account, .ul-parent-footer {
  font-family: $font-family-sans-serif;
}

#main-navigation-h {
  .ul-parent {
    li {
      > {
        a {
          padding: 5px 10px;
        }
      }
    }
  }
}

.w3-container {
  padding: 0.01em 8px;
}

.top-callout {
  width: 30%;
  float: right;
  text-align: center;
  vertical-align: center;
  border: 3px solid $brand-blue-dark;
  margin-top: 16px;
  margin-bottom: 8px;
  background-color: $brand-green-light;
}

/* Attempt to deal with the spacing on the front page for main content */

.w3-row-padding > .w3-quarter {
  padding: 0;
}

.main-container-inner {
  .first-sidebar, .w3css-content {
    margin-bottom: 0;
    margin-top: 0;
  }
}

i.left-sidebar-nav {
  line-height: 18px !important;
  &:before {
    content: "More";
  }
}

i.left-sidebar-nav-displayed {
  line-height: 18px !important;
  &:before {
    content: "Less";
  }
}

