/*
 * SASS main code for Pasadena Bridge Club w3css version
 */

@import "default-variables";

body {
  font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-serif;
  font-weight: $headings-font-weight;
  color: $brand-green-dark;
}

.site-slogan {
  text-transform: none;
  font-size: 1.8em !important;
  color: $brand-green-dark;
  margin-right: 100px;
  padding-left: 5px;
}

#header {
  background-color: white;
}

#welcome-text {
  padding: 5px;
}

#welcome-text-inner {
  border: $brand-primary solid 3px;
  padding: 5px;
  background-color: $brand-blue-light;
}

.main-navigation-wrapper, .close-nav, .mobile-nav {
  background-color: $brand-blue-dark;
}

#footer-menu {
  background-color: $brand-blue-dark;
}

.copyright-inner, .ul-parent-account, .ul-parent-footer {
  font-family: $font-family-sans-serif;
}

#main-navigation-h {
  .ul-parent {
    li {
      > {
        a {
          padding: 5px 10px;
        }
      }
    }
  }
}

.w3-container {
  padding: 0.01em 8px;
}

.top-callout {
  width: 30%;
  float: right;
  text-align: center;
  vertical-align: center;
  border: 3px solid $brand-primary;
  margin-top: 16px;
  background-color: $brand-green-light;
}
