/*
 * SASS main code for Pasadena Bridge Club w3css version
 */
/*
 * SASS main code for Pasadena Bridge Club w3css version
 */
body {
  font-family: open-sans, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: modesto-text, serif;
  font-weight: 500;
  color: #106632;
  margin: 5px 0;
}

/* special blocks for the PBC front-page header */
div.header-inner > div {
  float: none;
}

.pbc-logo {
  width: 100%;
  padding: 8px;
}

.site-slogan {
  text-transform: none;
  font-size: 1.7em !important;
  color: #106632;
  padding-left: 8px;
}

#header {
  background-color: white;
}

@media only screen and (min-width: 850px) {
  div.pbc-header {
    min-width: 400px;
  }
}
@media only screen and (max-width: 849px) {
  div.pbc-header {
    width: 50%;
  }
}
div.callout-container {
  float: right;
}

/* end of special header blocks */
#block-welcometext-2 {
  padding: 5px;
  margin: 0;
}
#block-welcometext-2 > div {
  border: #1e7ebe solid 3px;
  padding: 5px;
  background-color: #e1f0fa;
}
#block-welcometext-2 > div > p {
  padding-left: 3em;
}

.main-navigation-wrapper, .close-nav, .mobile-nav {
  background-color: #1e7ebe;
}

#footer-menu {
  background-color: #1e7ebe;
}

.copyright-inner, .ul-parent-account, .ul-parent-footer {
  font-family: open-sans, sans-serif;
}

#main-navigation-h .ul-parent li > a {
  padding: 5px 10px;
}

.w3-container {
  padding: 0.01em 8px;
}

.top-callout {
  text-align: center;
  border: 3px solid #1e7ebe;
  margin: 16px;
  padding: 16px;
  background-color: #cbf7dc;
}

/* Attempt to deal with the spacing on the front page for main content */
.main-container-inner .first-sidebar, .main-container-inner .w3css-content {
  margin-bottom: 0;
  margin-top: 0;
}

/* these two classes are used to hide and display the left sidebar */
i.left-sidebar-nav {
  line-height: 18px !important;
}
i.left-sidebar-nav:before {
  content: "More";
}

i.left-sidebar-nav-displayed {
  line-height: 18px !important;
}
i.left-sidebar-nav-displayed:before {
  content: "Less";
}

/* Formatting for the column of "plugs" aka the left-sidebar for the front page */
div#left-sidebar > div.w3-sidebar-first {
  padding: 12px 0 !important;
}
div#left-sidebar > div.w3-sidebar-first .plug-title {
  margin: 0;
}
div#left-sidebar > div.w3-sidebar-first .plug-title:before {
  content: "";
  display: table;
  clear: both;
}
div#left-sidebar > div.w3-sidebar-first .plug-body {
  margin: 0;
}
div#left-sidebar > div.w3-sidebar-first .plug-body:before {
  content: "";
  display: table;
  clear: both;
}
div#left-sidebar > div.w3-sidebar-first .plug-body p {
  margin: 0;
}
div#left-sidebar article.plug-article {
  background-color: #e1f0fa;
  padding: 8px;
  margin: 5px 0;
  border: #1e7ebe solid 3px;
}

.w3-panel {
  margin: 0;
  padding: 0;
}

section#block-welcometext-2 div.w3-section {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}