.navbar-text {
  font-size: 27px;
  margin-right: 00px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  font-weight: bold;
  font-family: modesto-text;
}

.navbar {
  .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }
}

.navbar-nav {
  font-size: 18px;
  margin-left: 40px;
}

.navbar {
  .logo {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
