/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

.front-page-logo {
  width: 400px;
  height: auto;
}
.navbar-brand {
  display: none;
}
.navbar-text {
  display: block;
  float: none;
}
.navbar-btn {
  display: inline;
  float: none;
}
